
<% include ../partials/new-edit_header %>

<div class="container">
    <h1 class="text-center mt-4">ערוך מוצר</h1>
    <div class="row">
        <div class="contain">
            <form action="/<%= dept %>/<%= product._id %>?_method=PUT" method="POST" enctype="multipart/form-data"> <!-- The 'enctype' thats what allows to have the file upload feature -->
                <div class="form-group">
                    <input class="form-control" type="text" name="name" value="<%= product.name %>">
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" name="price" value="<%= product.price %>">
                </div>
                <div class="form-group">
                    <label for="image">Image</label>
                    <input id="image" type="file" name="image" accept="image/*">   <!-- The 'accept' is for that we can't upload by default any files other then image files -->
                </div>
                <div class="form-group">
                    <button class="btn btn-block">בצע שינוי</button>
                </div>
            </form>
            <a href="/<%= dept %>">חזור</a>
        </div>
    </div>
</div>       
    
<% include ../partials/new-edit_footer %>  